* {
    margin: 0;
    padding: 0;
}

.left {
    width: 50%;
    margin-top: 100px;
    margin-left: 100px;
    float: left;
}
/**/
.outer {
    width: 80%;
    margin: 0 auto;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

#chay {
    height: 50px;
    width: 100%;
}

#chaychu {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe Script';
    font-size: 22px;
    color: red;
}

.right {
    width: 33%;
    margin-top: 100px;
    float: right;
    margin-right: 150px;
}

.khungphai {
    width: 100%;
    height: 650px;
    background-color: gainsboro;
    float: right;
    margin-bottom: 100px;
}

.khungtren {
    height: 100px;
    background-color: brown;
    text-align: center;
    font-size: 32px;
    color: white;
    font-weight: 300;
    padding-top: 35px;
    font-family: 'Times New Roman';
}

.khungduoi {
}

.khungduoitrong {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 30px;
}

.gui a {
    float: right;
    text-decoration: none;
    border-radius: 50% 50%;
    background-color: coral;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    text-shadow: 1px 1px 2px, 0 0 25px, 0 0 5px;
}
