* {
    margin: 0;
    padding: 0;
}

.main-phai h2 {
    font-family:'Times New Roman';
    font-size:33px;
    position: relative;
    animation: mymove 8s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    /*bóng đổ*/
}

.outer {
    width: 1990px;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 800px;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/chuyen-to-chuc-tiec.jpg');
    /* rgba(red, green, blue, alpha)*/
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 500px;
    width: 1900px;
    padding-top: 10%;
    padding-left: 6%;
}

.hero-text {
    text-align: center;
    color: white;
    z-index: 100;
}

    .hero-text a {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 25px;
        color: black;
        background-color: #ddd;
        text-align: center;
        cursor: pointer;
        z-index: 100;
        text-decoration: none;
    }

        .hero-text a:hover {
            background-color: #555;
            color: white;
            z-index: 100;
        }

.main-phai h1 {
    position: relative;
    animation: mymove1 5s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

#trai {
    height: 700px;
}

@keyframes mymove1 {
    from {
        color: white;
    }

    to {
        color: red;
    }
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.left {
    width: 50%;
    float: left;
}

.right {
    float: right;
    width: 45%;
}

.main {
    clear: both;
    font-family: 'Times New Roman';
}

    .main h4 {
        font-size: 28px;
    }
    .main a{
        border-radius:50% 50%;
        font-size:23px;
        font-weight:bold;
    }

.auto-style1 {
    width: 379px;
}
